<section>
    <h2>Your Dashboard</h2>

    {{#if posts.length}}
    <div class="card">
        {{#each posts as |post|}}
        {{> dashboard-post post}}
        {{/each}}
    </div>
    {{/if}}

</section>
<div>
     <a href="/dashboard/new">New Post</a>
</div>